  <nav>
    <div class="Option" (click)="onClicked($event)">
      <img src="../../assets/all.png"/>
      <p>ALL</p>
    </div>
    <div class="Option">
      <img src="../../assets/star.png"/>
      <p>FEATURES</p>
    </div>
    <div class="Option" >
      <img src="../../assets/tools.png"/>
      <p>FIXES</p>
    </div>


  </nav>


  <!---
    <a href="https://www.flaticon.com/free-icons/all" title="all icons">All icons created by Freepik - Flaticon</a>
    FIXES <a href="https://www.flaticon.com/free-icons/tools" title="tools icons">Tools icons created by BomSymbols - Flaticon</a>
    FEATS <a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a>
    ---->


