nav{
  background-color: black;
  width: 2.5vw;
  height: 100%;
  border-right: solid;
  border-color: gray;
}

nav img{
  display: block;

}

img{
  width: 2vw;
  margin-bottom: 1vh;
  filter: invert(100%);
}
